<component name="libraryTable">
  <library name="spring-jdbc-5.3.12 (2)">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/MyBatis day 6/src/main/webapp/WEB-INF/lib/spring-jdbc-5.3.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/MyBatis day 6/src/main/webapp/WEB-INF/lib/spring-jcl-5.3.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/MyBatis day 6/src/main/webapp/WEB-INF/lib/spring-core-5.3.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/MyBatis day 6/src/main/webapp/WEB-INF/lib/spring-jms-5.3.12.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>